table {
  width: 100%;
  margin-top: 20px;
}

th {
  background-color: #828282;
  color: white;
}

#employeeComponent {
  width: 80%;
  min-width: 350px;
  max-width: 1000px;
  margin: 0 auto;
}

th.mat-sort-header-sorted {
  color: black;
}

#filters > button {
  margin: 0 10px;
}
