table {
  width: 100%;
}

#filters {
  margin: 25px 0;
}

th {
  background-color: gainsboro;
  color: black;
}

#employeeComponent {
  width: 80%;
  min-width: 350px;
  max-width: 1000px;
  margin: 0 auto;
}

#filters > button {
  margin: 0 10px;
}
